:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    }
    @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
    }

body {
    margin: 0;
    background-color: #272B2B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}

header {
    color: #FFFFFF;
    align-self: center;
    text-align: center;
}
    h1 {
        font-weight: normal;
        font-size: 3em;
    }
#container {
    overflow: hidden;
    white-space: nowrap;
}
    #container .scroll {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: fit-content;
        white-space: nowrap;
        animation: loop 180s linear infinite;
    }
    @keyframes loop {
        0% {transform: translateX(0%);}
        100% {transform: translateX(-50%);}
    }
        .item {
            display: flex;
            align-items: center;
            font-size: 6rem;
            white-space: nowrap;
            color: #FFFFFF;
            opacity: 5%;
        }
footer {
    display: flex;
    max-width: 50%;
    align-self: center;
    gap: 10vw;
}
img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

    -webkit-transition: transform .3s ease-in-out;
    -moz-transition:transform .3s ease-in-out;
    -ms-transition:transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
